" Plugin 'altercation/vim-colors-solarized'
"{
    syntax enable

    if has('gui_running')
        set background=light
    else
        set background=dark
    endif

    colorscheme solarized
    let g:solarized_termcolors=256
"}

" Plugin 'plasticboy/vim-markdown'
" {
    let g:vim_markdown_frontmatter=1
" }
